<div class="row justify-content-between">
    <div class="col-lg p-3">
        <h2>My Account</h2>
        <p class="text-dark">
            Account ID:
            <strong class="accountId">
            </strong>
        </p>
        <div class="py-2"></div>
        <div>
            <button class="genWireGuardConfig btn btn-primary btn-lg mb-3" data-action="download_vpn_config">
                Download VPN config
                <i class="ml-2 fas fa-download"></i>
            </button>
        </div>
        <hr class="my-4">
        <p class="lead">
            Top up on VPN time by selecting a time from the dropdown, then clicking Request.
            You will be prompted to complete the Lightning payment.
        </p>
        <div id="withSetupGuides" class="d-none">
            <hr class="my-4">
            <h4 class="mb-4">Setup Guides</h4>
            {{include "partials/setup-guides"}}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="d-flex align-items-center flex-column bg-light rounded shadow p-4">
            <img src="/assets/images/meter.png" class="col-sm-6 col-9" alt="">
            <h1 class="mt-2">VPN Time</h1>
            <div class="col-sm-12 my-3 py-2 px-4 bg-dark-primary rounded shadow">
                <div class="d-flex justify-content-between align-items-startØ">
                    <div class="text-center">
                        <span class="display-2" id="durationDays">0</span>
                        <p>days</p>
                    </div>
                    <span class="display-2">:</span>
                    <div class="text-center">
                        <span class="display-2" id="durationHours">0</span>
                        <p>hours</p>
                    </div>
                    <span class="display-2">:</span>
                    <div class="text-center">
                        <span class="display-2" id="durationMinutes">0</span>
                        <p>minutes</p>
                    </div>
                </div>
            </div>
            <h4 class="mt-5 mb-3">
                Add time:
            </h4>
            <div class="w-100 input-group input-group-lg">
                <select class="custom-select" id="durationSelect">
                    <option value="null" selected>Choose time...</option>
                    <option value=1>1 hour</option>
                    <option value=6>6 hours</option>
                    <option value=24>1 day</option>
                    <option value=72>3 days</option>
                    <option value=168>1 week</option>
                    <option value=720>30 days</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="genPayReq" data-action="request_vpn_time">
                        <span id="notRequesting">
                            Request
                        </span>
                        <span id="requesting" style="display: none">
                            <span class="spinner-border spinner-border-sm" role="status">
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-sm-12 mt-4 d-inline-flex justify-content-between align-items-center flex-column flex-md-row">
                <h5>Price: </h5>
                <div class="d-md-none my-1"></div>
                <h5 id="satCostContainer" class="text-gold" data-toggle="tooltip" data-placement="bottom"
                    data-title="~ BTC">
                    <span id="satCost">~</span> sat
                </h5>
                <h5 class="d-none d-md-inline">/</h5>
                <div class="d-md-none my-1"></div>
                <h5>
                    <span id="usdCost">~</span> USD
                </h5>
            </div>
        </div>
    </div>
</div>

<div id="payReqModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Complete Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="dismiss_payment_request">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center flex-column">
                    <h3 class="text-gold border-bottom border-dark pb-4">
                        Lightning Payment
                    </h3>
                    <div id="beforePayment" class="row align-items-center flex-column">
                        <div class="lead mt-3">
                            <span class="requestHours"></span>
                            hours of VPN for
                            <span><span id="requestSatoshi"></span> satoshi.</span>
                            *
                        </div>
                        <div class="mt-4 p-2 rounded bg-white">
                            <div id="payReqQR"></div>
                        </div>
                        <div class="my-2">
                            <a class="btn btn-link btn-lg" href="" id="payReqLink" data-action="open_payreq_in_app">
                                Open in App ⚡️
                            </a>
                        </div>
                        <input id="payReqStr" type="text" style="position: absolute; top: -100000px;">
                        <button id="copyPayReq" class="btn btn-secondary btn-lg mb-4"
                                data-action="copy_payreq_to_clipboard" data-clipboard-target="#payReqStr">
                            Copy to clipboard
                            <i class="fas fa-copy"></i>
                        </button>
                    </div>
                    <div id="afterPayment"
                         class="row align-items-center justify-content-center flex-column py-5 my-3"
                         style="display: none;">
                        <span class="text-success"><i class="fas fa-check-circle fa-4x"></i></span>
                        <p class="lead mt-4">
                            Payment completed
                        </p>
                        <p class="text-white-50">
                            Added <span class="requestHours"></span> hours of VPN time to your account.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 text-center text-white-50">
                    <p>
                        * Dialog will disappear once payment is completed.
                        <br>
                        VPN time is added to your account immediately upon receipt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
async function refreshDuration() {
    const {expiryDate: expiry} = await $.getJSON(`/peer`)
    const expiryDate = new Date(expiry).getTime()
    const now = new Date().getTime()
    const delta = (expiryDate - now) / 1000
    const days = Math.floor(Math.max(0, delta / 60 / 60 / 24))
    const hours = Math.floor(Math.max(0, delta / 60 / 60 % 24))
    const mins = Math.floor(Math.max(0, delta / 60 % 60))
    $("#durationDays").text(days)
    $("#durationHours").text(hours)
    $("#durationMinutes").text(mins)
}

const MULTIPLIERS = {
    m: 0.001,
    u: 0.000001,
    n: 0.000000001,
    p: 0.000000000001,
}

$(document).ready(async () => {
    const accountId = Cookies.get("accountId")
    if (!accountId) {
        window.location.href = "/"
        return
    }
    const payReqQrCode = new QRCode(
        document.getElementById("payReqQR"),
    )

    const $durationSelect = $("#durationSelect")

    $(".accountId").text(accountId)

    function completePayment({duration, payReq}) {
        $("#beforePayment").show()
        $("#afterPayment").hide()
        const match = /^ln(tb|bc|sb)(\d+[munp])1[0-9a-z]+/.exec(payReq)
        let satoshis
        if (!match) {
            console.error(payReq)
            satoshis = "???"
        } else {
            const amtStr = match[2].split("")
            const mulStr = amtStr[amtStr.length - 1]
            const unitsStr = amtStr.slice(0, amtStr.length - 1).join("")
            const mul = MULTIPLIERS[mulStr]
            const units = parseInt(unitsStr, 10)
            satoshis = 1e8 * mul * units
        }
        const payReqUrl = `lightning:${payReq}`
        const hours = Math.round(duration / 3600)

        $("#payReqStr").val(payReq)
        new ClipboardJS("#copyPayReq")

        payReqQrCode.clear()
        payReqQrCode.makeCode(payReqUrl)
        $("#payReqLink").attr("href", payReqUrl)
        $(".requestHours").text(hours)
        $("#requestSatoshi").text(satoshis)
        const $payReqModal = $("#payReqModal");
        $payReqModal.modal("show")

        setTimeout(async function checkCompleted() {
            const {result} = await $.getJSON("/peer/extend/completed", {payReq})
            if (result === "completed") {
                gtag('event', 'purchase', {
                    event_category: 'ecommerce',
                    event_label: 'purchase_vpn_time',
                    value: `${hours}`,
                })
                $("#beforePayment").hide()
                $("#afterPayment").show()
                await refreshDuration()
                setTimeout(() => $payReqModal.modal("hide"), 3000)
                return
            }
            setTimeout(checkCompleted, 0)
        }, 0)
    }

    $("#genPayReq").click(async () => {
        const selectedDuration = $durationSelect.val()
        if (selectedDuration === "null") {
            return
        }
        $("#requesting").show()
        $("#notRequesting").hide()
        const duration = String(3600 * parseInt(selectedDuration))
        try {
            await $.ajax({
                url: `/peer/extend`,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({duration}),
            })
        } catch (e) {
            if (e.status === 402) {
                const payReq = e.responseText
                completePayment({duration, payReq})
            } else {
                alert(JSON.stringify(e))
                console.error(e)
            }
        }
        $("#requesting").hide()
        $("#notRequesting").show()
    })

    const $satCost = $("#satCost")
    const $satCostContainer = $("#satCostContainer")
    const $usdCost = $("#usdCost")
    $durationSelect.change(async () => {
        let hours = parseInt($durationSelect.val())
        gtag('event', 'change', {
            event_category: 'engagement',
            event_label: 'change_requested_duration',
            value: hours,
        })
        if (isNaN(hours)) {
            $satCostContainer.attr("data-original-title", "~")
            $satCost.text("~")
            $usdCost.text("~")
            return
        }
        const prices = await $.getJSON("/price")
        const satsPerHour = parseFloat(prices.satoshi.hour)
        const usdPerHour = parseFloat(prices.usd.hour)
        const sats = Math.ceil(satsPerHour * hours)
        const btc = sats / 1e8
        const usd = usdPerHour * hours
        $satCostContainer.attr('data-original-title', `${btc.toFixed(8)} BTC`)
        $satCost.text(numberWithCommas(sats))
        $usdCost.text(`$${usd.toFixed(4)}`)
    })
    await refreshDuration()
    setInterval(refreshDuration, 1000 * 15)

    $(".genWireGuardConfig").click(async () => {
        const {publicKey, secretKey} = nacl.box.keyPair()
        await $.ajax({
            type: "POST",
            url: "/peer/pubkey",
            data: JSON.stringify({
                publicKey: toBase64(publicKey),
            }),
            dataType: "json",
        })
        const zip = new JSZip()
        const {ipv4} = await $.getJSON("/peer/ip")
        zip.file(`MeterVPN-toronto-ca.conf`, configTemplateIPv4({
            secretKey: toBase64(secretKey),
            ipv4,
        }))
        const blob = await zip.generateAsync({type: "blob"})
        saveAs(blob, "wireguard-config.zip")
    })

    if (window.showSetupGuides === true) {
        $("#withSetupGuides").removeClass("d-none")
    }

    $('[data-toggle="tooltip"]').tooltip()
})

const configTemplateIPv4 = ({secretKey, ipv4}) => `\
[Interface]
PrivateKey = ${secretKey}
Address = ${ipv4}/32
DNS = 1.1.1.1

[Peer]
PublicKey = 1t54yXxhTvUHqQE1Wh0nKqieksYm5o/KlpfQI5QUX2I=
AllowedIPs = 0.0.0.0/0
Endpoint = 159.89.121.214:52800
`
</script>