<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{ .Title }}
    </title>
    <link rel="stylesheet" href="assets/external/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/global_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/qrcodejs/qrcode.min.js"></script>
    <script src="node_modules/file-saver/dist/FileSaver.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="node_modules/jszip/dist/jszip.min.js"></script>
    <script src="node_modules/tweetnacl/nacl-fast.min.js"></script>
    <script src="assets/js/common.js"></script>
</head>
<body class="container min-vh-100 d-flex flex-column">
<nav class="navbar navbar-dark d-md-flex d-none flex-nowrap">
    <h3>
        <a class="ml-0 orbitron d-flex align-items-end" href="/">
            <img src="/assets/images/logo.png" style="width: 50px; height: 50px;" class="mr-3" alt="">
            MeterVPN
        </a>
    </h3>
    {{include "partials/navlinks"}}
</nav>
<nav class="navbar navbar-dark d-md-none d-flex p-2">
    <h4 class="ml-2">
        <a class="orbitron d-flex align-items-end" href="/">
            <img src="/assets/images/logo.png" style="width: 40px; height: 40px;" class="mr-3" alt="">
            MeterVPN
        </a>
    </h4>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#mobileNavbar">
        <span class="text-dark"><i class="fas fa-bars fa-2x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileNavbar">
        {{include "partials/navlinks"}}
    </div>
</nav>

<div class="content p-md-5 p-3 flex-fill">
    {{template "content" .}}
</div>
</body>
</html>