<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!--  Resources from CDNs  -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://unpkg.com/file-saver@2.0.0/dist/FileSaver.min.js"></script>
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-EHgAIxZ/n1IaWzhk7MwPaOux4UOWSr3czJ4dEVimBvo="
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-oirnoViW9lYllRfFCj8bHlWrneMp/XIHg+ct2exOvIc="
            src="https://cdnjs.cloudflare.com/ajax/libs/tweetnacl/1.0.1/nacl-fast.min.js"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Audiowide|Faster+One|Iceland|Quantico" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138920532-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-138920532-1');
    </script>

    <!--  Vendor resources  -->
    <link href="/assets/external/bootstrap.min.css" rel="stylesheet">

    <!--  Local scripts -->
    <link href="/assets/css/global_style.css" rel="stylesheet">
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/qrcode.js"></script>

    <title>
        {{ .Title }}
    </title>
</head>
<body class="container min-vh-100 d-flex flex-column px-md-5 px-0">
<nav class="navbar navbar-expand-md navbar-dark bg-primary py-2">
    <a class="navbar-brand" href="/">
        <span class="font-brand h4">
            <img alt="" src="/assets/images/logo.png" width="32" height="32" class="d-inline-block align-bottom">
            MeterVPN
            <sup>
                <small class="text-dark">alpha</small>
            </sup>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <hr class="my-3 border-white">
        <div class="navbar-nav ml-auto">
            {{if .LoggedIn}}
                <li class="nav-item m-1">
                    <button class="btn btn-link btn-lg  nav-link col-12" data-action="logout">
                        Logout
                    </button>
                </li>
                <li class="nav-item m-1">
                    <a class="btn btn-link btn-lg nav-link col-12" href="/account">
                        My Account
                    </a>
                </li>
            {{else}}
                <li class="nav-item m-1">
                    <button class="btn btn-link btn-lg nav-link col-12" data-toggle="modal" data-action="login"
                            data-target="#loginModal">
                        Login
                    </button>
                </li>
                <li class="nav-item m-1">
                    <button class="btn btn-lg btn-success col-12" data-toggle="modal" data-action="sign_up"
                            data-target="#createAccountModal">
                        Create Account
                    </button>
                </li>
            {{end}}
        </div>
    </div>
</nav>

<div class="content p-md-5 p-3 flex-fill">
    {{template "content" .}}
</div>

{{include "partials/create-account-modal"}}
{{include "partials/login-modal"}}

<footer class="container py-3">
    <p>
        MeterVPN is still very much a work in progress.
    </p>
    <p class="text-dark">
        Created by Mitchell Van Der Hoeff (<a href="https://twitter.com/scalefree_">@scalefree_ on Twitter</a>).
    </p>
</footer>
</body>
</html>
