<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{ .Title }}
    </title>
    <link rel="stylesheet" href="assets/external/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/global_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/qrcodejs/qrcode.min.js"></script>
    <script src="node_modules/file-saver/dist/FileSaver.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="node_modules/jszip/dist/jszip.min.js"></script>
    <script src="node_modules/tweetnacl/nacl-fast.min.js"></script>
    <script src="assets/js/common.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="nav-link" href="/">MeterVPN</a>
    {{if .LoggedIn}}
        <a class="nav-link ml-auto" href="/account">My Account</a>
        <button class="btn btn-link nav-link" data-action="logout">Logout</button>
    {{else}}
        <a class="nav-link ml-auto" href="/login">Log In</a>
    {{end}}
    <a class="nav-link" href="/faq">FAQ</a>
    <a class="nav-link" href="/about">About</a>
</nav>
<div class="content p-5">
    {{template "content" .}}
</div>
</body>
</html>