{{define "content"}}
    <div class="row">
        <div class="col-lg p-3">
            <h2>My Account</h2>
            <p class="text-dark">
                Account ID:
                <strong id="accountId">
                </strong>
            </p>
            <div class="py-2"></div>
            <div class="d-lg-block d-none">
                {{include "partials/setup-guides"}}
            </div>
        </div>
        <div class="col-lg-7 d-flex align-items-center flex-column">
            <img src="/assets/images/meter.png" alt="">
            <div class="w-75 d-flex justify-content-between">
                <div class="text-center">
                    <div class="display-1" id="durationDays">0</div>
                    <p>days</p>
                </div>
                <div class="text-center">
                    <div class="display-1" id="durationHours">0</div>
                    <p>hours</p>
                </div>
                <div class="text-center">
                    <div class="display-1" id="durationMinutes">0</div>
                    <p>minutes</p>
                </div>
            </div>
            <h5 class="text-right py-3">of VPN service left</h5>
            <div class="w-100">
                <h5 class="pt-4">
                    Add time:
                </h5>
                <div class="input-group input-group-lg">
                    <select class="custom-select" id="durationSelect">
                        <option value="null" selected>Choose duration...</option>
                        <option value=1>1 hour</option>
                        <option value=3>3 hours</option>
                        <option value=6>6 hours</option>
                        <option value=24>1 day</option>
                        <option value=72>3 days</option>
                        <option value=168>1 week</option>
                        <option value=720>30 days</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="genPayReq">Request</button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col d-inline-flex justify-content-between align-items-center text-white flex-column flex-md-row">
                        <h5>Price: </h5>
                        <div class="d-md-none my-1"></div>
                        <h5 class="text-gold" data-toggle="tooltip" data-placement="bottom"
                                  title="100 millionths of a Bitcoin">
                            <span id="satCost">~</span> sat
                        </h5>
                        <h5 class="d-none d-md-inline">/</h5>
                        <div class="d-md-none my-1"></div>
                        <h5><span id="btcCost">~</span> BTC</h5>
                        <h5 class="d-none d-md-inline">/</h5>
                        <div class="d-md-none my-1"></div>
                        <h5><span id="usdCost">~</span> USD</h5>
                    </div>
                </div>
                <div id="withPayReq" class="d-none my-4">
                    <div class="d-flex flex-column align-items-center">
                        <h4 class="my-3 text-white">Lightning payment request: </h4>
                        <div class="py-2"></div>
                        <div>
                            <a id="payReqQR">
                            </a>
                        </div>
                        <div class="py-2"></div>
                        <div class="bg-light ml-3 w-100">
                            <div id="payReqStr" class="text-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-lg-none w-100">
                {{include "partials/setup-guides"}}
            </div>
        </div>
    </div>
    <style>
        #payReqStr {
            width: 100%;
            height: fit-content;
            overflow-wrap: break-word;
        }

        #payReqQR {
            width: 192px;
            height: 192px;
        }
    </style>
    <script src="assets/js/account.js"></script>
{{end}}