{{define "content"}}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8">
            <h2>
                Create Account
            </h2>
            <hr>
            <button id="generateAccountId" class="btn btn-success btn-lg">
                Generate Account ID
            </button>
            <p class="lead">
                You start with zero VPN time. Buy VPN time on your Account page.
            </p>
            <p class="lead">
                Guide to set up  WireGuard VPN
            </p>
            <p class="lead">
                Guide to set up Lightning payments
            </p>
        </div>
        <div class="col"></div>
    </div>
    <script>
        $(document).ready(() => {
            if (Cookies.get("accountId")) {
                window.location.href = "/account"
            }
            $("#generateAccountId").click(async () => {
                const {accountId} = await $.post("/peer")
                Cookies.set("accountId", accountId)
                $(".withAccount").show()
                $("#accountId").text(accountId)
                $("#generateAccountId").attr("disabled", true)
            })
        })
    </script>
{{end}}