{{define "content"}}
<div class="row">
    <div class="col"></div>
    <div class="col-9">
        <h2 class="row">
            <div class="col">Create account</div>
        </h2>
        <hr>

        <div class="row">
            <div class="col">
                <p>
                    1. Click the button below to get an anonymous Account ID. You should back it up somewhere safe.
                </p>
                <div class="row">
                    <div class="col">
                        <button id="getNewAccountId" class="btn btn-success">Get Account ID</button>

                    </div>
                    <div class="col-9">
                        <div id="withAccount" class="d-none">
                            Account ID: <strong id="accountId"></strong>
                            <p>
                                <small>✓ Saved to browser</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <p>
                    2. Set up Lightning payments
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        i. Buy Bitcoin on a centralized exchange, or a peer-to-peer exchange like <a
                            href="https://localbitcoins.com">LocalBitcoins</a>
                    </li>
                    <li class="list-group-item">
                        ii. Download a Lightning wallet like <a href="https://zap.jackmallers.com/">Zap</a>
                    </li>
                    <li class="list-group-item">
                        iii. Send some Bitcoin to your Lightning wallet
                        <div>
                            <small>We recommend you send no more than $20 worth of Bitcoin to your Lightning wallet
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        iv. In your Lightning wallet, open a channel with a well-connected hub such as Yalls or Zap.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <p>
                    3. Log in to your new account and follow the WireGuard guide
                </p>
                <p>
                    <a id="login" href="account" class="btn btn-primary btn-lg d-none">
                        Log In
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>
<script>
    $(document).ready(async () => {
        const $accountId = $("#accountId");
        const $getNewAccountId = $("#getNewAccountId");
        $getNewAccountId.click(async () => {
            const {accountId} = await $.post("/peer")
            Cookies.set("accountId", accountId)
            $("#withAccount").removeClass("d-none")
            $accountId.text(accountId)
            $getNewAccountId.attr("disabled", true)
        })
    })
</script>
{{end}}