{{define "content"}}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8">
            <h2>
                Create Account
            </h2>
            <hr>
            <p class="lead">
                Click the button below to generate a new, random Account ID.
                This Account ID will be used to check the VPN time you have left, and to top up.
            </p>
            <button id="generateAccountId" class="btn btn-success btn-lg">
                <span id="notRequesting">
                    Generate Account ID
                </span>
                <span id="requesting" style="display: none;">
                    <span class="spinner-border" role="status"></span>
                </span>
            </button>
        </div>
        <div class="col"></div>
    </div>

{{end}}