{{define "content"}}
    <div class="py-md-5 py-3"></div>
    <div class="row d-flex align-items-end">
        <div class="col-md">
            <img src="assets/images/metervpn.png" style="width: 100%;" alt="">
        </div>
        <div class="col-md-8">
            <h2>
                <span class="orbitron">MeterVPN</span>
                <small class="ml-lg-3">Pay-as-you-go VPN</small>
            </h2>
            <div class="mt-4"></div>
            <h5>
                Built on ⚡️Bitcoin Lightning micropayments
            </h5>
            <p>
            <span class="text-white-50">
                24 hours of VPN service:
            </span>
                <span class="text-gold" data-toggle="tooltip" data-placement="bottom"
                      title="100 millionths of a Bitcoin">
                <span id="24hPriceSats">~</span> sat
            </span>
                <span class="text-white-50">
                ($<span id="24hPriceUsd">~</span>
                USD)
            </span>
            </p>
            <div class="mt-4">
                <a class="btn btn-lg btn-success" href="create-account">Get Anonymous Account</a>
                <a class="btn btn-lg btn-secondary" href="login">Log In</a>
            </div>
        </div>
    </div>
    <div class="py-5"></div>
    <hr>
    <div class="row py-3">
        <div class="col">
            <h3 class="orbitron mb-4">
                Pay only for the privacy you need.
            </h3>
            <p>
                No monthly subscription. Buy as little as 1 hour of VPN service.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr>
    <div class="row py-3">
        <div class="col-md-3"></div>
        <div class="col text-right">
            <h3 class="orbitron mb-4">
                No emails, no usernames.
            </h3>
            <p>
                We store a randomly generated Account ID that is not linked to your identity.
            </p>
            <p>
                Lightning payments are also anonymous, so MeterVPN gives you full Internet privacy.
            </p>
        </div>
    </div>
    <hr>
    <div class="row py-3">
        <div class="col">
            <h3 class="orbitron mb-4">
                Protection against tracking and surveillance.
            </h3>
            <p>
                We don't store any logs.
            </p>
            <p>
                We use the WireGuard protocol, a novel VPN protocol built with strong encryption and superfast
                speeds.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr class="my-5">
    <h3 class="mb-5">
        Comparison with other VPNs
    </h3>
    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Subscription VPN</th>
            <th scope="col">Free VPN</th>
            <th scope="col">MeterVPN</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Price
            </td>
            <td class="text-warning">
                Monthly Subscription
            </td>
            <td class="text-success">
                Free
            </td>
            <td class="text-success">
                Pay-as-you-go
            </td>
        </tr>
        <tr>
            <td>
                Anonymity
            </td>
            <td class="text-warning">
                Low (email and payment information)
            </td>
            <td class="text-success">
                High
            </td>
            <td class="text-success">
                High
            </td>
        </tr>
        <tr>
            <td>
                Speed
            </td>
            <td class="text-success">
                High
            </td>
            <td class="text-warning">
                Low
            </td>
            <td class="text-success">
                High
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(async () => {
            $('[data-toggle="tooltip"]').tooltip()

            const prices = await $.getJSON("/price")
            $("#24hPriceSats").text(prices.satoshi.day.toFixed(0))
            $("#24hPriceUsd").text(prices.usd.day.toFixed(5))
        })
    </script>
{{end}}