.content {
    background: #272a2e;
    border-top: #10171e 1px solid;
}

small {
    color: rgba(255, 255, 255, 0.5);
}

.bg-gold {
    background: #d9a357;
}

.text-gold {
    color: #d9a357;
}

nav {
    background: #272a2e;
}

hr {
    border-color: #475059;
    margin: 3.5em 0;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/assets/fonts/orbitron-light.otf');
}

.orbitron {
    font-family: "Orbitron";
}