body {
    background: #1d2a37;
    color: #f0eae4;
}

pre {
    color: #f0eae4;
}

.content {
    background: #223140;
    border: #10171e 1px solid;
}

small {
    color: rgba(255, 255, 255, 0.5) ;
}

.text-gold {
    color: #d9a357
}

nav {
    background: #283a4c;
}

nav > a {
    color: #6c9ccd;
}

hr {
    border: #475059 1px solid;
}