.content {
    background: #272a2e;
    border-top: #10171e 1px solid;
}

small {
    color: rgba(255, 255, 255, 0.5);
}

.text-gold {
    color: #d9a357;
}

nav {
    background: #272a2e;
}

hr {
    border-color: #475059;
    margin: 3.5em 0;
}
