{{define "content"}}
<div class="row d-flex align-items-end">
    <div class="col-md">
        <img src="assets/images/metervpn.png" style="width: 100%;" alt="">
    </div>
    <div class="col-md-8">
        <h2>
            MeterVPN
            <small class="ml-3">Anonymous, prorated VPN</small>
        </h2>
        <div class="mt-4"></div>
        <h5>
            Built on ⚡️Bitcoin Lightning micropayments
        </h5>
        <p>
            <span class="text-white-50">
                24 hours of VPN service:
            </span>
            <span class="text-gold" data-toggle="tooltip" data-placement="bottom"
              title="100 millionths of a Bitcoin">
                <span id="24hPriceSats">~</span> sat
            </span>
            <span class="text-white-50">
                ($<span id="24hPriceUsd">~</span>
                USD)
            </span>
        </p>
        <div class="mt-4">
            <a class="btn btn-lg btn-success" href="create-account">Create Account</a>
            <a class="btn btn-lg btn-secondary" href="login">Log In</a>
        </div>
    </div>
</div>
<div class="py-4"></div>
<div class="row py-3">
    <div class="col">
        <h3>
            Protection against tracking and surveillance.
        </h3>
        <p>
            We use the WireGuard protocol, a novel VPN protocol built with strong encryption and superfast
            speeds. [Something about protection against tracking]
        </p>
    </div>
    <div class="col-3"></div>
</div>
<div class="row py-3">
    <div class="col-3  d-sm-none"></div>
    <div class="col text-right">
        <h3>
            Pay only for the privacy you need.
        </h3>
        <p>
            No monthly subscription. Buy as little as 1 hour of VPN service.
        </p>
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <h3>
            No emails, no usernames.
        </h3>
        <p>
            We store a randomly generated Account ID that is not linked to your identity.
        </p>
        <p>
            Combined with the anonymity of Lightning payments, MeterVPN gives you full Internet privacy.
        </p>
    </div>
</div>
<script>
    $(document).ready(async () => {
        $('[data-toggle="tooltip"]').tooltip()

        const prices = await $.getJSON("/price")
        $("#24hPriceSats").text(prices.satoshi.day.split(".")[0])
        $("#24hPriceUsd").text(prices.usd.day)
    })
</script>
{{end}}