{{define "content"}}
<script src="assets/js/index.js"></script>
<div class="row">
    <div class="col-8">
        <h1>
            MeterVPN
            <small class="ml-3">Pay-as-you-go Internet privacy</small>
        </h1>
        <div class="mt-4"></div>
        <h5>
            Built on ⚡️Bitcoin Lightning micropayments
        </h5>
        <p>
                <span class="text-white-50">
                    ️ Price per 24 hours of VPN service:
                </span>
            <span class="text-gold" data-toggle="tooltip" data-placement="bottom"
                  title="100 millionths of a Bitcoin">
                    <span id="24hPriceSats">~</span> sat
                </span>
            <span class="text-white-50">
                    ($<span id="24hPriceUsd">~</span>
                    USD)
                </span>
        </p>
        <a class="btn btn-success" href="create-account">Create Account</a>
        <a class="btn btn-secondary" href="account">Log In</a>
    </div>
    <div class="col">
        <img src="assets/images/metervpn-small.png" alt="">
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <h3>
            Protect yourself against tracking and surveillance, without the hassle.
        </h3>
        <p>
            We use the WireGuard VPN protocol, a novel VPN protocol built with strong encryption and superfast
            reconnections.
        </p>
    </div>
</div>
<div class="row py-3">
    <div class="col text-right">
        <h3>
            Pay only for the time you need. No monthly subscription.
        </h3>
        <p>
            With MeterVPN, you can pay only for the hour you want to watch a Netflix show available in another
            country.
        </p>
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <h3>
            No emails, no usernames.
        </h3>
        <p>
            All we store of yours is a randomly generated Account ID that is not linked to your identity.
            Combined with the strong anonymity of Lightning payments, this means you get full Internet privacy.
        </p>
    </div>
</div>
{{end}}